/* start of header */

header {
  display: flex;
  background-color: white;
  height: 80px;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

header nav {
  padding-right: 40px;
}

nav span {
  padding: 20px 10px;
  align-items: center;
}

header a {
  color: black;
}

/* end of header*/
.column-large {
  width: 630px;
  margin-right: 32px;
  flex-direction: column;
}

.column-medium {
  width: 300px;
  margin-right: 32px;
}

.column-small {
  width: 240px;
  margin-right: 32px;
}

.content {
  display: flex;
  margin: 0 auto 78px auto;
  padding-top: 116px
}

.mainstory .image {
  background-image: url(../images/img-story-main.png);
  font-size: 40px;
  text-align: left;
}

.article {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.article .text-content {
  height: 250px;
  display: block;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.image span {
  margin-left: 20px;
}

.article {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.narrative {
  margin-top: 16px;
  font-family: Georgia;
  font-size: 17px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.img-story-1 {
  background-image: url(../images/img-story-1.png);
}

.img-story-2 {
  background-image: url(../images/img-story-2.png);
}

.img-story-3 {
  background-image: url(../images/img-story-3.png);
}
/* begin of body*/

/* begin of body*/
/* news bite section */
.news-bites h3 {
  margin-bottom: 41px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.news-bites .bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}
/* begin of footer*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}

footer .mytitle {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
    display: inline-block;
    padding-left: 25px;
}

footer a {
  color: black;
}

/* end of footer*/
